@import url(//fonts.googleapis.com/css?family=BenchNine);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

/* info displays */

body {
    font-family:'BenchNine';
}

.info-displays {
    display: table;
    font-family: 'Open Sans';
    left: 5px !important;
    position: absolute !important;
    top: 5px !important;
    width: 200px;

    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.info-display {
    background-color: blue;
    border-radius: 4px;
//    color: white;
    display: none;
    font-weigth: normal;
    margin: 1px;
    overflow: hidden;
    padding: 8px;
    z-index: 99999;
}
.info-displays {
    display: table;
}
.info-row {
    display: block;
}
#info-station-code, #info-station-lat, #info-station-long,
#info-train-number, #info-train-lat, #info-train-long {
    display: list-item;
}
#info-station-name, #info-train-name {
    display: block;
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 100%;
}
.info-head-details {
    display: list;
    float: rigth;
    font-size: 10px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: right;
}
#info-departure-time, #info-arrival-time {
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}
#info-departure-station, #info-destination-station {
    font-size: 13px;
    text-align: right;
}
.info-timetable {
    float: left;
    font: normal normal normal 8px sans-serif;
    width: 100%;
}
.info-timetable-station {
    text-align: right;
}

/* end of info displays */

/* operator colors */
.hsl {
    background: #7bbfe4;
    border: 2px solid #218acb;
    color: #111111;
}
/* not exactly an operator color, but ... */
.station {
    background: white;
    border: 2px solid black;
    //color: black;
    color: #111111;
}
.vr {
    background: #80CC99; 
    border: 2px solid #009933;
    //color: black;
    color: #111111;
} 
/* end of operator colors */

/* station and train icons */
.trains-station {
  border-radius: 3px 3px 3px 3px;
  display: block;
  height: 25px;
  width: 25px;
}

.trains-station.generic {
  background: #E6E6FF;
  border: 2px solid #8080FF;
}

.trains-station.commuter {
  background: #7bbfe4;
  border: 2px solid #218acb;
}

.trains-station.person {
  background: #d4ebce;
  border: 2px solid #65b748;
}

.trains-train {
  display: block;
  width: 10px;
  height: 30px;
  border-radius: 10px 10px 3px 3px;
}

/* end of station and train icons */

#train-map {
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

