@import url(//fonts.googleapis.com/css?family=Open+Sans);

/* nanoScroller.js */
.nano { width: 200px; height: 80px; }
.nano > .nano-content { padding: 0px 8px 0px 0px; }
.nano > .nano-pane   { background: #888; width: 4px; }
.nano > .nano-pane > .nano-slider { background: #111; width: 4px; }
/* end of nanoScroller.js */

body { font-family: 'Open Sans'; }

/* info displays */
.info-displays {
    display: table;
    font-family:'Open Sans';
    left: 5px !important;
    position: absolute !important;
    top: 5px !important;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.info-display {
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    display: none;
    font-weigth: normal;
    margin: 3px;
    overflow: hidden;
    padding: 8px;
    width: 200px;
    z-index: 99999;
}
.info-displays {
    display: table;
}
.info-row {
    display: block;
}
#info-station-code, #info-station-lat, #info-station-long, #info-train-number, #info-train-lat, #info-train-long {
    display: list-item;
}
#info-station-name, #info-train-name {
    display: block;
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 100%;
}
.info-head-details {
    display: list;
    float: rigth;
    font-size: 10px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: right;
}
#info-departure-time, #info-arrival-time {
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}
#info-departure-station, #info-destination-station {
    font-size: 13px;
    text-align: right;
}
#row-info-path-timetable {
    height: 80px;
}
.info-timetable {
    display: block;
    font: normal normal normal 8px sans-serif;
    width: 100%;
}
.info-timetable-station {
    text-align: right;
    width: 99%;
}
/* end of info displays */

/* operator colors */
.hsl {
    background: #7bbfe4;
    border: 2px solid #218acb;
    color: #111111;
}
/* not exactly an operator color, but ... */
.station {
    background: white;
    /* border: 2px solid #black; */
    color: #111111;
}
.vr {
    background: #80CC99;
    border: 2px solid #009933;
    color: #111111;
}
/* end of operator colors */

/* station and train icons */
.trains-station {
    border-radius: 3px 3px 3px 3px;
    display: block;
    height: 25px;
    width: 25px;
}
.trains-station.generic {
    background: #E6E6FF;
    border: 2px solid #8080FF;
}
.trains-station.commuter {
    background: #7bbfe4;
    border: 2px solid #218acb;
}
.trains-station.person {
    background: #d4ebce;
    border: 2px solid #65b748;
}
.trains-train {
    display: block;
    width: 10px;
    height: 30px;
    border-radius: 10px 10px 3px 3px;
}
/* end of station and train icons */
#train-map {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* leafletjs */
.leaflet-control {
    font-family: 'Open Sans';
}
/* end of file. */

