.sjl-trains-station {
  background: #8080FF;
  border: 2px solid #1919FF;
  display: block;
  width: 25px;
  height: 25px;

  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.sjl-trains-train {
  background: #FF9999;
  border: 2px solid #FF4D4D;
  display: block;
  width: 30px;
  height: 10px;

  -webkit-border-radius: 10px 10px 3px 3px;
  -moz-border-radius: 10px 10px 3px 3px;
  border-radius: 10px 10px 3px 3px;
}
