#sjl-trains-map {
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.hsl {
  background: #7bbfe4;
  border: 2px solid #218acb;
}

.vr {
//  background: #d4ebce;
//  border: 2px solid #65b748;
  background: #80CC99;
  border: 2px solid #009933;
}

.sjl-trains-station {
  border-radius: 3px 3px 3px 3px;
  display: block;
  height: 25px;
  width: 25px;
}

.sjl-trains-station.generic {
  background: #E6E6FF;
  border: 2px solid #8080FF;
}

.sjl-trains-station.commuter {
  background: #7bbfe4;
  border: 2px solid #218acb;
}

.sjl-trains-station.person {
  background: #d4ebce;
  border: 2px solid #65b748;
}

.sjl-trains-train {
  display: block;
  width: 10px;
  height: 30px;
  border-radius: 10px 10px 3px 3px;
}

.sjl-trains-train.non-national {
  background: #FF9999;
  border: 2px solid #FF4D4D;
}

.sjl-trains-train-label {
  font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.sjl-trains-overlay {
  border: 0px;
  border-radius: 3px;
  display: none;
  padding: 4px 4px 4px 4px;

  font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;

  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;

  width: 280px;
}
  
.sjl-trains-overlay-header {
  border: none;
  border-radius: 3px 3px 0px 0px;
  display: block;

  font-size: 12px;
  font-weight: bold;

  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;

  padding: 10px 6px 10px 6px;
}

.sjl-trains-overlay-times {
  border: none;
  border-radius: 3px 0px 0px 3px;
  display: table-cell;
  padding: 6px 10px 6px 6px;

  font-size: 10px;
  font-weigth: normal;

  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;

  white-space: nowrap;
}

.sjl-trains-overlay-loc {
  align: right;
  border: none;
  border-radius: 0px 3px 3px 0px;
  display: table-cell;
  padding: 0px 6px 0px 0px;

  font-size: 10px;
  font-weigth: normal;
  text-align: right;
  width: 100%;
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;
}

.sjl-trains-overlay-path {
  background-color: rgba(0,0,0,0.1);
  border: none;
  border-radius: 3px;
  font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weigth: bold;
  margin: 4px 0px 0px 0px;
  padding: 2px 6px 2px 6px;
}

.sjl-trains-info-popup {
  width: 280px;

  position: absolute !important;
  bottom: 5px !important;
  left: 5px !important;
  z-index: 99999;
}
